:root{
    --h2font: 30px
}

* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    background-color: #13293D;
    color: #E8F1F2;
    overflow-x: hidden;
}

.objetivo, .profissional, .academico, .certificacoes, .softskills, header {
    scroll-margin-top: 75px; 
}

nav{
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #13293D;
    border-bottom: solid #1B98E0;
}

nav img{
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

nav div{
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: 100px;

}

.menu div{
    padding: 22px 20px;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.menu div:hover{
    background-color: #555;
}

.margin{
    height: 75px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006494;
    width: 100vw;
    color: #E8F1F2;
    padding: 50px 0px;
    height: 250px;
}

header img{
    height: 187.5px;
    width: 150px;
    border-radius: 150px;
    border: 5px solid #E8F1F2;
}

header h1{
    margin: 0 50px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}


.objetivo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.objetivo h2{
    font-size: var(--h2font);
    padding-right: 50px;
}

.objetivo td{
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
}

hr {
    margin: 0;
    border-color: #1B98E0;
}


h2{
    font-size: var(--h2font);
    padding: 20px 0px;
    
}

.profissional table, .academico table{
    width: 100%;
}

.profissional tr, .academico tr{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 50px;
}

.profissional th, .academico th{
    flex: 1;
}

.profissional td, .academico td{
    flex: 2;
    
}

.certificacoes table, .softskills table{
    margin-bottom: 50px;
}

.certificacoes ul{

    padding: 0 100px;

}

.soft-lista1{
    padding: 0 0 0 100px;
    margin: 0;
}

.soft-lista2{
    padding: 0 100px 0 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration-line: underline;
}

footer{
    height: 300px;
    background-color: #111;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDD;
}

.menuMobile{
    display: none;
}

@media (max-width: 1000px) {
    
}

@media (max-width: 750px){
    body{
        margin: 0;
        padding: 0;
        font-size: 5vw;
    }

    nav{
        width: 100%;
    }

    nav img{
        margin-left: 25px;
    }

    .menu{
        display: none;
    }
    .btn_menuMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        height: 75px;
        width: 75px;
        transition: rotate 0.5s linear;
    }

    .btn_menuMobile div{
        width: 30px;
        background-color: #1B98E0;
        height: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    aside{
        width: 100vw;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
        width: 80%;
        max-width: 100%;
        height: 80vh;
        position: fixed;
        top:75px;
        left: auto;
        right: -100%;
        background-color: rgba(27, 152, 224,0.8);
        transition: right 0.5s linear;
    }

    .menuMobile div{
        font-size: 35px;
        padding: 30px 20px;
        width: 100%;
        cursor: pointer;
    }

    header{
        padding: 50px 5%;
        width: 100%;
        margin: 0;
    }

    header h1{
        font-size: 7vw;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 0px;
        width: auto;
    }

    header img{
        margin: 0 auto;
        height: auto;
        max-width: 100px;
    }

    .objetivo, .profissional{
        margin:0 auto;
        padding-top: 0;
        flex-direction: column;
        width: 100%;
    }

    .objetivo h2{
        font-size: 7vw;
        margin: 0 auto;
        padding: 5% 5%;
        width: auto;
    }

    .profissional h2, .academico h2, .certificacoes h2, .softskills h2{
        font-size: 7vw;
        margin: 0 auto;
        text-align: center;
        width: auto;
    }

    .objetivo div{
        font-size: 6vw;
        margin: 0 auto;
        text-align: center;
        width: auto;
    }

    .profissional div{
        font-size: 6vw;
        margin: 0 auto;
        padding: 0 5%;
        text-align: center;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .academico div{
        font-size: 6vw;
        margin: 0 auto;
        padding: 0 5%;
        text-align: center;
        width: auto;
    }

    .academico strong{
        font-size: 6vw;
    }

    .certificacoes ul{
        margin: 0 auto;
        width: auto;
    }

    .certificacoes li, .certificacoes a, .softskills li{
        margin: 10% auto;
        font-size: 6vw;
        width: auto;
    }

    .softskills ul{
        margin: 0 auto;
        width: auto;
    }

    h4, p{
        font-size: 6vw;
        margin: 0 auto;
        padding: 5% 5%;
        text-align: justify;
        width: auto;
    }

    footer{
        font-size: 6vw;
        margin: 0 auto;
        padding: 5% 5%;
        text-align: justify;
        width: auto;
    }
}